[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/auto_migrations"]
	path = vendor/plugins/auto_migrations
	url = git://github.com/pjhyett/auto_migrations.git
[submodule "vendor/plugins/rspec_on_rails_nested_scaffold"]
	path = vendor/plugins/rspec_on_rails_nested_scaffold
	url = git://github.com/phorsfall/rspec_on_rails_nested_scaffold.git
[submodule "vendor/plugins/rdiscount"]
	path = vendor/plugins/rdiscount
	url = git://github.com/rtomayko/rdiscount.git
[submodule "vendor/plugins/aasm"]
	path = vendor/plugins/aasm
	url = git://github.com/rubyist/aasm.git
[submodule "vendor/plugins/pickle"]
	path = vendor/plugins/pickle
	url = git://github.com/ianwhite/pickle.git
