<% content_for :right do %>
<div style="border:1px solid black">
  Next:
  <% form_tag( next_state_path(@topic) ) do %>
    <%= image_submit_tag( "/images/next.gif", :border => 0 ) %>
  <% end %>
</div>
<% end %>

<% if block_given? -%>
  <%= yield :layout %>
<% end -%>

