<% @title = "Topics" %>
<% content_for :instructions do %>
Topical areas of thought.  
<% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for topic in @topics %>
  <tr>
    <td><%= link_to topic.name, topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'X', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_topic_path %>
