<% content_for @location do %>
<div class="box-top"></div>
<div class="box-body">
<%= yield %>
<!-- # !!! if image provided
     <img src="/images/image.gif" alt="Image" title="Image" class="image" />
-->
</div>
<% end %>
