<% @title = "Rules for 6 Hats Thinking" %>
<% content_for :instructions do %>
Play by these rules to multiply the effectiveness of your business and family meetings - and even your own thinking.
<% end %>

<p>When thinking using 6 hats, you and the rest of your thinking group should work hard
to play by these rules.  The wonderful book <a class="book" href="http://www.amazon.com/gp/product/0316178314?ie=UTF8&tag=steamodesorr-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0316178314">Six Thinking Hats</a><img src="http://www.assoc-amazon.com/e/ir?t=steamodesorr-20&l=as2&o=1&a=0316178314" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
by Edward de Bono can provide you with much better context and detail.  </p>

<p>The general guidelines shown to the right can help you enter the thinking process with the right frame of mind.  Further, the following guidelines for each hat will help keep you on track.</p>

<% content_for :right do %>
  <% box :title => "Don't Jump Around" do %>
	  Consider one hat at a time, and seek multiple thoughts under that hat prior to seeking the next hat.
  <% end %>

  <% box :title => "Move on when it's time" do %>
    When you've exhausted your ideas under one hat, go on to the next hat.
  <% end %>
<% end %>

<%= render :partial => 'hat_rule', :collection => @hats %>
