<table>

<% for thought in @thoughts %>
  <tr valign="baseline">
    <td><%= link_to h( thought.summary ), edit_topic_thought_path(@topic, thought) %></td>
    <td><%= markdown thought.detail %></td>
    <td><%= link_to 'x', [@topic, thought], :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New thought', new_topic_thought_path(@topic), :class => 'button', :id => "new_thought" %>
