<p>
  <b>Summary:</b>
  <%=h @thought.summary %>
</p>

<p>
  <b>Detail:</b>
  <%=h @thought.detail %>
</p>

<%= link_to 'Edit', edit_topic_thought_path(@topic, @thought) %> |
<%= link_to 'Back', topic_thoughts_path(@topic) %>
